/**
 * @author: Jorge Carmona <jcar98@gmail.com>
 * @version: 1.0
 *
 * Responsive web styles for dashboard windows. 
 */
.responsive-window {
	width: 100%;
}
.responsive-window .titlebar {
	background   : #024b73;
	text-align   : left;
	padding-left : 10px;
	height       : 30px;
	border       : 1px solid #024b73;
	
	-moz-border-radius-topleft  : 5px;
	-moz-border-radius-topright : 5px;
	border-top-left-radius      : 5px;
	border-top-right-radius     : 5px;
}
.container .responsive-window .title {
	color     : #fff;
	font-size : 1.1em;
	position  : relative;
	top       : 0.4em; 
}
.responsive-window .body {
	background : #fff;
	padding    : 5px;
	border     : 1px solid #ccc;
	height     : 200px;
	overflow   : auto;
}